.Contacts {
    margin: 1% 0;
    .card-header {
        display: flex;
        i {
            margin: 0 1%;
            cursor: pointer;
        }
        .icon-padding-left {
            margin-left: auto;
            .fa-pencil-alt {
                font-size: .9rem;
            }
        }
        .icon-padding-top {
            .fa-times {
                color: red;
                margin-left: .5rem;
            }
        }
    }
    .card-body {
        padding: 1%;
    }
}