.Contacts {
    margin: 1% 0;
    .card-header {
        display: flex;
        i {
            margin: 0 1%;
            cursor: pointer;
        }
        .icon-padding-top {
            padding-top: .1rem;
            margin-left: auto;
            .fa-times {
                color: red;
                margin-right: 1rem;
            }
        }
    }
    .card-body {
        padding: 1%;
    }
}